{% extends 'base.html.twig' %}

{% block title %}Modifie un tricks !
{% endblock %}

{% block body %}
	<div class="my-3 container">
		<div class="card border-primary rounded my-2">
			{{ form_start(formEditTricks) }}
			<div class="card_header">
				<div class="row">
					{% if favorite %}
						<img class="w-100" src="{{ asset('/img/'~favorite.name) }}" width="100%" alt="">
					{% else %}
						<img class="w-100" src="{{ asset('/img/default.jpg') }}" width="100%" alt="">
					{% endif %}
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl">
						<div class="d-flex justify-content-start">
							<div class="d-flex flex-column">
								<h1 class="title_center">
									{{ form_widget(formEditTricks.title) }}
									{{ form_errors(formEditTricks.title) }}
								</h1>
								{% if app.user %}
									<div class="buttons">
										<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#favoriteMedia">
											<i class="fa-solid fa-pencil"></i>
										</button>
										{% if favorite %}
											<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteFavoriteMedia{{ favorite.id }}">
												<i class="fa-solid fa-trash-can"></i>
											</button>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-body">
				<div class="row test_body">
					{% include "tricks/layout/_carousel.html.twig" %}
				</div>
				<div class="mb-3">
					{{ form_widget(formEditTricks.content) }}
				</div>
				<div class="flex_phone d-flex">
					<div class="mb-3">
						{{ form_row(formEditTricks.medias) }}
					</div>
					<div class="url_phone ms-3 mb-3">
						{{ form_row(formEditTricks.urls) }}
					</div>
				</div>
				<div class="w-50 mb-3">
					{{ form_row(formEditTricks.category) }}
				</div>
				<div class="d-flex justify-content-end">
					<div class="text-end">
						<button type="button" class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#deleteTricks{{ tricks.id }}">
							Supprimer le tricks
						</button>
					</div>
					<div class="text-end">
						{{ form_row(formEditTricks.save) }}
					</div>
					{{ form_end(formEditTricks) }}
				</div>
			</div>
		</div>
	</div>

	{% include "tricks/layout/modal/_modal.html.twig" %}
{% endblock %}

{% block javascripts %}
	<script src="/js/carousel.js"></script>
{% endblock %}
