{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% for message in app.flashes('success') %}
            <p>{{ message }}</p>
        {% endfor %}
        <div class="row">
            <div class="col p-0 maintxt">
                <img class="img-fluid img-responsive" src="./img/home2.jpg" alt="home-snow" style="width: 100%;">
                <h1 id="accroche">Bienvenue sur Snow Tricks !!</h1>
                <a class="overlay-text text-white" href="#card-snow"><i class="bg-transparent border-0 btn btn-primary fa-solid fa-circle-arrow-down fa-2xl"></i></a>
            </div>            
        </div>
        <div id="card-snow" class="container-fluid mt-3 mb-3 pt-5 px-5">
            <div class="row row-cols-1 row-cols-md-5 g-4">
                {% for allTrick in allTricks %}            
                    <div class="col">
                        <div class="card h-100">
                            {% for media in allTrick.medias %}  
                                <img src="{{ asset('/uploads/'~media.name) }}" class="card-img-top" alt="...">
                            {% endfor %}
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="" href="{{ path('oneTricks', {'id' : allTrick.id}) }}"><h5 class="card-title">{{allTrick.title}}</h5></i></a>
                                    <a class="btn border-0 bg-transparent" href="{{ path('editTricks', {'id' : allTrick.id}) }}"><i class="fa-solid fa-pencil"></i></a>
                                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks{{ allTrick.id }}">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>  

                    <!-- Modal -->
    <div class="modal fade" id="deleteTricks{{ allTrick.id }}" tabindex="-1" aria-labelledby="deleteTricksLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body text-center">
            <h5>Voulez-vous vraiment supprimer cette figure ?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <a href="{{ path('deleteTricks', {'id' : allTrick.id}) }}" class="btn btn-danger">Confirmer</a>
        </div>
        </div>
    </div>
    </div>         
                {% endfor %}
            </div>
        </div>
        <div class="row mt-2 mb-5 me-0">
            <div class="col d-flex justify-content-end">
                <a class="" href="#card-snow"><i class="fa-solid fa-circle-arrow-up fa-2xl"></i></a>
            </div>
        </div>
    </div>

    
{% endblock %}
