{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="my-3 container d-flex justify-content-center">
        <div class="card">
            <div class="d-flex justify-content-between">
                <h1>{{ tricks.title }}</h1>
                <div class="border">
                    <a class="btn border-0 bg-transparent" href="#"><i class="fa-solid fa-pencil"></i></a>
                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
            {% for media in tricks.medias %}
                {{ media.name }}
            {% endfor %}
            <div class="card-body">
                <div class="row">
                {% for media in tricks.medias %}  
                    <div class="col"><img src="{{ asset('/uploads/'~media.name) }}" class="card-img-top" alt="...">
                    <div class="border">
                    <a class="btn border-0 bg-transparent" href="#"><i class="fa-solid fa-pencil"></i></a>
                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                    </div>
                    {% endfor %}
                </div>
                <p class="card-text px-5 pt-4">{{ tricks.content }}</p>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="mr-2 badge bg-success">{{ tricks.createdat | date('d/m/Y H:i') }}</div>
                        <div class="mr-2 badge bg-warning">{{ tricks.updatedat | date('d/m/Y H:i') }}</div>
                        <div class="badge bg-primary">{{ tricks.category.name }}</div>
                    </div>
                </div> 
                {% if app.user %}
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto d-flex align-items-center">
                            {{ form(formNewComment) }}
                        </div>
                    </div>
                {% endif %}
                <hr>
                <div class="d-flex flex-column align-items-center">
                    {% for comment in tricks.comments %}
                        <div class="d-flex align-items-center">
                            <div class="me-2 p-3">
                                avatar
                            </div>
                            <div class="mb-2 p-3 border shadow">
                                {{ comment.content }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteTricks" tabindex="-1" aria-labelledby="deleteTricksLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body text-center">
            <h5>Voulez-vous vraiment supprimer cette figure ?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger">Confirmer</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}