{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!
{% endblock %}

{% block body %}
	<div class="my-3 container">
		{% include '_alertMessage.html.twig' %}
		<div class="card border-primary rounded my-5">

			<div class="card_header">
				<h1 class="title_center">
					{{ tricks.title }}
				</h1>
				{% if favorite %}
					<img class="w-100" src="{{ asset('/uploads/'~favorite.name) }}" width="100%" alt="">
				{% else %}
					<img class="w-100" src="{{ asset('/uploads/default.jpg') }}" width="100%" alt="">
				{% endif %}

				{% if app.user %}
					<div class="buttons">
						<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#favoriteMedia">
							<i class="fa-solid fa-pencil"></i>
						</button>
						{% if favorite %}
							<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteFavoriteMedia{{ favorite.id }}">
								<i class="fa-solid fa-trash-can"></i>
							</button>
						{% endif %}
					</div>
				{% endif %}
			</div>

			<div class="card-body">
				<div class="row test_body">
					<div class="swiper">
						<div class="swiper-wrapper">
							{% for media in tricks.medias %}
								<div class="swiper-slide">
									<div class="d-flex flex-column">
										<img class="diapo me-2" src="{{ asset('/uploads/'~media.name) }}" alt="">
										{% if app.user %}
											<div class="d-flex justify-content-around bord me-2">
												<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#favoriteMedia{{ media.id }}">
													<i class="fa-solid fa-pencil"></i>
												</button>
												<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteMedia{{ media.id }}">
													<i class="fa-solid fa-trash-can"></i>
												</button>
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
							{% for url in tricks.urls %}
								<div class="swiper-slide">
									<div class="d-flex flex-column">
										<embed class="diapo me-2" type="video/webm" src="{{ video(url.url) }}">
										{% if app.user %}
											<div class="d-flex justify-content-around bord me-2">
												<button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteMedia{{ url.id }}">
													<i class="fa-solid fa-trash-can"></i>
												</button>
											</div>
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>

					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl"></div>
				</div>
				{% include "tricks/_content.html.twig" %}
				{% if app.user %}
					<hr>
					<div class="row d-flex justify-content-center">
						<div class="col-auto d-flex align-items-center">
							{{ form(formNewComment) }}
							</div>
						</div>
					{% endif %}
					<hr>
					<div class="mt-5 d-flex justify-content-center">
						<div class="newComment d-flex flex-column align-items-start">
							<div>
								{% for allcomment in allcomments %}
									{% include "tricks/_comment.html.twig" %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="row mt-5 mb-2">
						<div class="col text-center">
							<button id="seeMore" class="btn btn-primary">Voir plus de commentaires</button>
							<div id="slug" class="d-none">{{ tricks.slug }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		{% for m in tricks.medias %}
			<div class="modal fade" id="deleteMedia{{ m.id }}" tabindex="-1" aria-labelledby="deleteMediaLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body text-center">
							<h5>Voulez-vous vraiment supprimer ce média ?</h5>
						</div>
						<div class="modal-footer d-flex flex-column">

							<img class="diapo me-2" src="{{ asset('/uploads/'~m.name) }}" alt="">
							<div class="me-2 d-flex flex-column align-items-center">
								<a href="{{ path('editDeleteMedia', {'id' : m.id}) }}">Supprimer</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<!-- Modal -->
		{% if favorite %}
			<div class="modal fade" id="deleteFavoriteMedia{{ favorite.id }}" tabindex="-1" aria-labelledby="deleteFavoriteMediaLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body text-center">
							<h5>Voulez-vous vraiment supprimer ce média comme favoris ?</h5>
						</div>
						<div class="modal-footer d-flex flex-column">


							<div class="me-2 d-flex flex-column align-items-center">
								<a href="{{ path('deleteFavoriteMedia', {'id' : favorite.id, 'slug' : tricks.slug}) }}">confirmer</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		{% endif %}

		<!-- Modal -->
		{% for url in tricks.urls %}
			<div class="modal fade" id="deleteMedia{{ url.id }}" tabindex="-1" aria-labelledby="deleteMediaLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body text-center">
							<h5>Voulez-vous vraiment supprimer ce média ?</h5>
						</div>
						<div class="modal-footer d-flex flex-column">

							<embed class="diapo me-2" type="video/webm" src="{{ video(url.url) }}">
							<div class="me-2 d-flex flex-column align-items-center">
								<a href="{{ path('editDeleteMedia', {'id' : url.id}) }}">Supprimer</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<!-- Modal -->
		{% for m in tricks.medias %}
			<div class="modal fade" id="favoriteMedia{{ m.id }}" tabindex="-1" aria-labelledby="favoriteMediaLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body text-center">
							<h5>Mettre ce média en favori ?</h5>
						</div>
						<div class="modal-footer d-flex flex-column">

							<img class="diapo me-2" src="{{ asset('/uploads/'~m.name) }}" alt="">
							<div class="me-2 d-flex flex-column align-items-center">
								<a href="{{ path('favoriteMedia', {'id' : m.id, 'slug' : tricks.slug}) }}">Ajouter en favori</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		<!-- Modal -->
		<div class="modal fade" id="favoriteMedia" tabindex="-1" aria-labelledby="favoriteMediaLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body text-center">
						<h5>Choisissez votre nouvel image à la une !</h5>
					</div>
					<div class="modal-footer">
						{% for m in tricks.medias %}
							<img class="diapo me-2" src="{{ asset('/uploads/'~m.name) }}" alt="">
							<div class="me-2 d-flex flex-column align-items-center">
								<a href="{{ path('favoriteMedia', {'id' : m.id, 'slug' : tricks.slug}) }}">Ajouter comme favoris</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}


	{% block javascripts %}
		<script src="/js/carousel.js"></script>
		<script>
			const newComment = document.querySelector('.newComment')
			const seeMore = document.querySelector('#seeMore')
			const slug = document.getElementById("slug").innerHTML
			let num = 2

			seeMore.addEventListener('click', (e) => {
			e.preventDefault()
			const cpt = num++
			let url = '{{ path("see_more_comment", {'slug' : 'slug', 'page': 'page'}) }}';
			url = url.replace("slug", slug);
			url = url.replace("page", cpt);
			fetch((url)).then(response => response.json()).then(data => {
			data.forEach(el => {
			console.log(el)
			let newp = document.createElement('p')
			let date = new Date(el.date)
			newp.innerHTML = `
                <div class="d-flex align-items-center">
                    <div class="me-2 p-3">
                        <img src="${el.avatar}" class="avatar card-img-top img-fluid rounded mb-4 mb-lg-0" alt="picture">
                    </div>
                    <div class="mb-2 p-3 border shadow">
                        ${el.content}          
                    </div>   
                </div>
                <div class="com_date mb-2 p-1 border text-center">
                    <strong>${el.user.firstname}</strong> ${date.toLocaleString("fr")}
                </div>`
			newComment.append(newp);
					})
				})
			})
		</script>
	{% endblock %}
