{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="my-3 container d-flex justify-content-center">
        <div class="card">
            <div class="d-flex justify-content-between">
                <h1 class="">{{ tricks.title }}</h1>
                <div class="border">
                    <a class="btn border-0 bg-transparent" href="#"><i class="fa-solid fa-pencil"></i></a>
                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
            {% for media in tricks.medias %}
                {{ media.name }}
            {% endfor %}
            <div class="card-body">
                <div class="row">
                    {% for media in tricks.medias %}  
                    <div class="col"><img src="{{ asset('/uploads/'~media.name) }}" class="card-img-top w-25" alt="..."></div>
                        <div class="border">
                            <a class="btn border-0 bg-transparent" href="#"><i class="fa-solid fa-pencil"></i></a>
                            <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    
                    {% endfor %}
                </div>
                <p class="card-text px-5 pt-4">{{ tricks.content }}</p>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="mr-2 badge bg-success">{{ tricks.createdat | date('d/m/Y H:i') }}</div>
                        <div class="mr-2 badge bg-warning">{{ tricks.updatedat | date('d/m/Y H:i') }}</div>
                        <div class="badge bg-primary">{{ tricks.category.name }}</div>
                    </div>
                </div> 
                {% if app.user %}
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto d-flex align-items-center">
                            {{ form(formNewComment) }}
                        </div>
                    </div>
                {% endif %}
                <hr>
                <div class="newComment d-flex flex-column align-items-center">
                    {% for comment in tricks.comments|slice(0, 2) %}
                        <div class="d-flex align-items-center">
                            <div class="me-2 p-3">
                                avatar
                            </div>
                            <div class="mb-2 p-3 border shadow">
                                {{ comment.content }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row mt-4 mb-4">
                    <div class="col text-center">
                        <button id="seeMore" class="btn btn-primary">Voir plus de commentaires</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteTricks" tabindex="-1" aria-labelledby="deleteTricksLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body text-center">
            <h5>Voulez-vous vraiment supprimer cette figure ?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger">Confirmer</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const newComment = document.querySelector('.newComment')
        const seeMore = document.querySelector('#seeMore')
        let num = 2
        
        seeMore.addEventListener('click', (e)=>{
            e.preventDefault()
            const yep = num++
            //let url = Routing.generate('see_more', {'page' : yep});
            let url = '{{ path("see_more_comment", {'page': 'page'}) }}'; 
            url = url.replace("page", yep);
            fetch((url)).then(
                    response => response.json()
                ).then(
                    data => {
                        data.forEach(el => {
                            let newp = document.createElement('p')
                            newp.innerHTML = `
                                <div class="d-flex align-items-center">
                                    <div class="me-2 p-3">
                                        avatar
                                    </div>
                                     <div class="mb-2 p-3 border shadow">
                                        ${el.content}
                                    </div>
                                </div>`
                            newComment.append(newp);
                        })
                    }
                )
        })
        
    </script>
{% endblock %}