{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="my-3 container d-flex justify-content-center">
        <div class="card">
            <div class="d-flex justify-content-between">
                <h1>{{ tricks.title }}</h1>
                <div class="border">
                    <a class="btn border-0 bg-transparent" href="#"><i class="fa-solid fa-pencil"></i></a>
                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#deleteTricks">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
            {% for media in tricks.medias %}  
                <img src="{{ asset('/uploads/'~media.name) }}" class="card-img-top" alt="...">
            {% endfor %}
            <div class="card-body">
                <div class="row">
                    <div class="col"><img src="../img/home2.jpg" class="card-img" alt="..."></div>
                    <div class="col"><img src="../img/home2.jpg" class="card-img" alt="..."></div>
                    <div class="col"><img src="../img/home2.jpg" class="card-img" alt="..."></div>
                    <div class="col"><img src="../img/home2.jpg" class="card-img" alt="..."></div>
                    <div class="col"><img src="../img/home2.jpg" class="card-img" alt="..."></div>
                    <div class="col"><img src="../img/home2.jpg" class="card-img" alt="..."></div>
                </div>
                <p class="card-text px-5 pt-4">{{ tricks.content }}</p>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="mr-2 badge bg-success">{{ tricks.createdat | date('d/m/Y H:i') }}</div>
                        <div class="mr-2 badge bg-warning">{{ tricks.updatedat | date('d/m/Y H:i') }}</div>
                        <div class="badge bg-primary">{{ tricks.category.name }}</div>
                    </div>
                </div>
                <hr>
                <form class="row d-flex justify-content-center">
                    <div class="col-auto">
                    <input type="text" class="form-control" id="comment" placeholder="votre commentaire...">
                    </div>
                    <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Laisser un commentaire</button>
                    </div>
                </form>
                <hr>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteTricks" tabindex="-1" aria-labelledby="deleteTricksLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body text-center">
            <h5>Voulez-vous vraiment supprimer cette figure ?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger">Confirmer</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}